<div class="announcements-list">
        <div class="announcements-item item" data-js-dismissable="{&quot;id&quot;:&quot;2017-10-26-twitter&quot;}">
          <h3 class="title">New: We're on Twitter ♥️
      </h3>
          <div class="body"><p>Follow <a href="https://twitter.com/devhints">@devhints</a> on Twitter for daily “today I learned” snippets!</p>
      
      <p><a href="https://twitter.com/devhints"><img src="https://img.shields.io/twitter/follow/devhints.svg?style=social&amp;label=@devhints" alt=""></a></p>
      </div>
          <button data-js-dismiss="" class="close"></button>
        </div>
      </div>  