<div class="notice mdl-shadow--2dp">
  <span style="text-align: center;"><%= theme.announcement.content %></span>
  <span style="float:right;padding-right: 24px;">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon btn-like" s>
      <i class="material-icons" role="presentation">close</i>
  </button>
 </span>
</div>
