<div class="notice mdl-shadow--2dp" id="notice">
  <span style="text-align: center;vertical-align:middle;"><%= theme.announcement.content %></span>
  <!-- <span style="float:right;padding-right: 24px;">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" >
      <i class="material-icons" role="presentation">close</i>
  </button> -->
 </span>
</div>
<%- jsLsload({path:"/js/notice.min.js",key:'notice_js'}) %>